body{
    max-width: 1170px;
    background-color: azure;
    margin: 0 auto;

}

.card-section{
    text-align: center;
}

.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    border: 2px solid palegreen;
    border-radius: 10px;
    text-align:center;
    padding: 10px;
    box-shadow: 10px 10px 10px crimson;
}

.card:hover{
    background-color: rgb(101, 175, 91);
}
.card h3{
    font-size: 2.5em;
    font-weight: 700;

}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card button{
    background-color: coral;
    padding: 10px 30px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}